  /**************************************************/
 /* EMERSON'S SCALE MAGIC                          */
/**************************************************/

body{
  --vmin-pixels:303;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width:100%;
  height:100%;
  overflow:hidden;
  margin: 0;
}

/* Portrait */
@media screen and (orientation:portrait) {
  #divApplab{
    transform:scale(calc(var(--vmin-pixels) / 320));
  }
}
/* Landscape */
@media screen and (orientation:landscape) {
  #divApplab{
    transform:scale(calc(var(--vmin-pixels) / 450));
  }
}



  /**************************************************/
 /* APPLAB STYLES                                  */
/**************************************************/

@font-face {
  font-family: 'FontAwesome';
  src: url("applab/fontawesome-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
#divApplab.appModern button.appModernDesign,
#divApplab.appModern button.appModernDesign:hover {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  height: 30px;
  width: 80px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
  border-left-color: rgb(0, 0, 0);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  color: rgb(255, 255, 255);
  background-color: rgb(26, 188, 156);
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern label.appModernDesign,
#divApplab.appModern label.appModernDesign:hover {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow-wrap: break-word;
  color: rgb(51, 51, 51);
  max-width: 320px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
  border-left-color: rgb(0, 0, 0);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 28px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern input[type=text].appModernDesign,
#divApplab.appModern input[type=text].appModernDesign:hover {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 200px;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(0, 0, 0);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: rgb(153, 153, 153);
  border-right-color: rgb(153, 153, 153);
  border-bottom-color: rgb(153, 153, 153);
  border-left-color: rgb(153, 153, 153);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern input[type=checkbox].appModernDesign,
#divApplab.appModern input[type=checkbox].appModernDesign:hover {
  width: 12px;
  height: 12px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern select.appModernDesign,
#divApplab.appModern select.appModernDesign:hover {
  width: 200px;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: rgb(255, 255, 255);
  background-color: rgb(26, 188, 156);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
  border-left-color: rgb(0, 0, 0);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern input[type=radio].appModernDesign,
#divApplab.appModern input[type=radio].appModernDesign:hover {
  width: 12px;
  height: 12px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern div.textArea.appModernDesign,
#divApplab.appModern div.textArea.appModernDesign:hover {
  width: 200px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: rgb(153, 153, 153);
  border-right-color: rgb(153, 153, 153);
  border-bottom-color: rgb(153, 153, 153);
  border-left-color: rgb(153, 153, 153);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#divApplab.appModern img.appModernDesign,
#divApplab.appModern img.appModernDesign:hover {
  height: 100px;
  width: 100px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
  border-left-color: rgb(0, 0, 0);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  object-fit: contain;
  font-family: "object-fit: contain;";
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#divApplab.appModern canvas.appModernDesign,
#divApplab.appModern canvas.appModernDesign:hover {
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#divApplab.appModern div.screen.appModernDesign,
#divApplab.appModern div.screen.appModernDesign:hover {
  display: block;
  height: 450px;
  width: 320px;
  left: 0px;
  top: 0px;
  position: absolute;
  z-index: 0;
}

#divApplab.appModern div.chart.appModernDesign,
#divApplab.appModern div.chart.appModernDesign:hover {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#divApplab.appModern input[type=range].appModernDesign,
#divApplab.appModern input[type=range].appModernDesign:hover {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 150px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern #screen1, body {
  background-color: rgb(107, 15, 5);
}

#divApplab.appModern #text_area1 {
  width: 250px;
  height: 275px;
  font-size: 19px;
  color: rgb(228, 218, 218);
  left: 30px;
  top: 20px;
  text-align: left;
  background-color: rgba(188, 26, 29, 0.91);
}

#divApplab.appModern #button1 {
  height: 95px;
  width: 170px;
  font-size: 32px;
  background-color: rgba(188, 26, 29, 0.91);
  left: 65px;
  top: 315px;
}

#divApplab.appModern #screen2 {
  background-color: rgb(107, 15, 5);
  display: none;
}

#divApplab.appModern #Weak {
  width: 140px;
  background-color: rgb(188, 38, 26);
  left: 5px;
  top: 25px;
  height: 80px;
  font-size: 20px;
}

#divApplab.appModern #Boss {
  width: 140px;
  background-color: rgb(188, 26, 26);
  left: 160px;
  top: 25px;
  height: 80px;
  font-size: 20px;
}

#divApplab.appModern #Beasts {
  width: 140px;
  background-color: rgb(188, 26, 26);
  left: 5px;
  top: 130px;
  height: 80px;
  font-size: 20px;
}

#divApplab.appModern #Demons {
  height: 80px;
  width: 140px;
  font-size: 20px;
  background-color: rgb(188, 26, 26);
  left: 160px;
  top: 130px;
}

#divApplab.appModern #Anamals {
  height: 80px;
  width: 140px;
  font-size: 20px;
  background-color: rgb(188, 26, 26);
  left: 5px;
  top: 235px;
}

#divApplab.appModern #Ele {
  height: 80px;
  width: 140px;
  font-size: 20px;
  background-color: rgb(188, 26, 26);
  left: 160px;
  top: 235px;
}

#divApplab.appModern #screen3 {
  background-color: rgb(107, 15, 5);
  display: none;
}

#divApplab.appModern #image1 {
  height: 175px;
  width: 230px;
  left: 40px;
  top: 15px;
}

#divApplab.appModern #text_area2 {
  width: 250px;
  left: 30px;
  top: 190px;
  height: 200px;
}

#divApplab.appModern #NextWeak1 {
  background-color: rgb(188, 26, 26);
  left: 40px;
  width: 100px;
  height: 50px;
  top: 400px;
}

#divApplab.appModern #HomeWeak1 {
  background-color: rgb(188, 26, 26);
  left: 180px;
  top: 400px;
  width: 100px;
  height: 50px;
}

#divApplab.appModern #screen4 {
  background-color: rgb(107, 15, 5);
  display: none;
}

#divApplab.appModern #image2 {
  height: 165px;
  width: 190px;
  left: 60px;
  top: 20px;
}

#divApplab.appModern #text_area3 {
  width: 250px;
  left: 30px;
  top: 190px;
  height: 200px;
}

#divApplab.appModern #WeakNext2 {
  width: 100px;
  background-color: rgb(188, 26, 26);
  left: 40px;
  top: 400px;
  height: 50px;
}

#divApplab.appModern #WeakHome2 {
  background-color: rgb(188, 26, 26);
  left: 180px;
  top: 400px;
  width: 100px;
  height: 50px;
}

#divApplab.appModern #screen5 {
  background-color: rgb(107, 15, 5);
  display: none;
}

#divApplab.appModern #image3 {
  height: 170px;
  width: 185px;
  left: 70px;
  top: 25px;
}

#divApplab.appModern #text_area4 {
  width: 250px;
  left: 30px;
  top: 190px;
  height: 200px;
}

#divApplab.appModern #WeakNext3 {
  width: 100px;
  background-color: rgb(188, 26, 26);
  left: 40px;
  top: 400px;
  height: 50px;
}

#divApplab.appModern #WeakHome3 {
  width: 100px;
  background-color: rgb(188, 26, 26);
  top: 400px;
  height: 50px;
  left: 180px;
}

#divApplab.appModern #screen6 {
  background-color: rgb(107, 15, 5);
  display: none;
}

#divApplab.appModern #image4 {
  height: 180px;
  width: 175px;
  left: 75px;
  top: 15px;
}

#divApplab.appModern #text_area5 {
  width: 250px;
  height: 200px;
  left: 30px;
  top: 190px;
}

#divApplab.appModern #WeakHome4 {
  height: 50px;
  width: 145px;
  background-color: rgb(188, 26, 26);
  left: 85px;
  top: 390px;
}

#divApplab.appModern #screen7 {
  background-color: rgb(107, 15, 5);
  display: none;
}

#divApplab.appModern #image5 {
  height: 180px;
  width: 175px;
  left: 70px;
  top: 10px;
}

#divApplab.appModern #text_area6 {
  left: 30px;
  top: 190px;
  width: 250px;
  height: 200px;
}

#divApplab.appModern #BossNext1 {
  height: 50px;
  width: 100px;
  background-color: rgb(188, 26, 26);
  left: 40px;
  top: 400px;
}

#divApplab.appModern #BossHome1 {
  height: 50px;
  width: 100px;
  background-color: rgb(188, 26, 26);
  left: 180px;
  top: 400px;
}

#divApplab.appModern #screen8 {
  background-color: rgb(107, 15, 5);
  display: none;
}

#divApplab.appModern #image6 {
  height: 160px;
  width: 165px;
  left: 80px;
  top: 30px;
}

#divApplab.appModern #text_area7 {
  width: 250px;
  left: 30px;
  top: 190px;
  height: 200px;
}

#divApplab.appModern #BossNext2 {
  height: 50px;
  width: 100px;
  background-color: rgb(188, 26, 26);
  left: 40px;
  top: 400px;
}

#divApplab.appModern #BossHome2 {
  height: 50px;
  background-color: rgb(188, 26, 26);
  left: 180px;
  top: 400px;
  width: 100px;
}

#divApplab.appModern #screen9 {
  background-color: rgb(107, 15, 5);
  display: none;
}

#divApplab.appModern #image7 {
  height: 190px;
  width: 160px;
  left: 80px;
}

#divApplab.appModern #text_area8 {
  width: 250px;
  left: 30px;
  top: 190px;
  height: 200px;
}

#divApplab.appModern #BossHome3 {
  height: 55px;
  width: 130px;
  background-color: rgb(188, 26, 26);
  left: 90px;
  top: 390px;
}

#divApplab.appModern #screen10 {
  background-color: rgb(107, 15, 5);
  display: none;
}

#divApplab.appModern #image8 {
  height: 180px;
  width: 175px;
  left: 70px;
  top: 10px;
}

#divApplab.appModern #text_area9 {
  width: 250px;
  height: 200px;
  left: 30px;
  top: 190px;
}

#divApplab.appModern #BeastsNext1 {
  height: 50px;
  width: 100px;
  background-color: rgb(188, 26, 26);
  left: 40px;
  top: 400px;
}

#divApplab.appModern #BeastsHome1 {
  height: 50px;
  width: 100px;
  background-color: rgb(188, 26, 26);
  left: 180px;
  top: 400px;
}

#divApplab.appModern #screen11 {
  background-color: rgb(107, 15, 5);
  display: none;
}

#divApplab.appModern #image9 {
  height: 190px;
  width: 180px;
  left: 65px;
  top: 25px;
}

#divApplab.appModern #text_area10 {
  width: 250px;
  height: 200px;
  left: 30px;
  top: 190px;
}

#divApplab.appModern #BeastsNext2 {
  background-color: rgb(188, 26, 26);
  left: 40px;
  top: 400px;
  background-image: url("https://studio.code.org/blockly/media/1x1.gif");
  background-size: contain;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  width: 100px;
  height: 50px;
}

#divApplab.appModern #BeastsHome2 {
  width: 100px;
  background-color: rgb(188, 26, 26);
  left: 180px;
  top: 400px;
  height: 50px;
}

#divApplab.appModern #screen12 {
  background-color: rgb(107, 15, 5);
  display: none;
}

#divApplab.appModern #image10 {
  height: 150px;
  width: 155px;
  left: 75px;
  top: 40px;
}

#divApplab.appModern #text_area11 {
  width: 250px;
  left: 30px;
  top: 190px;
  height: 200px;
}

#divApplab.appModern #BeastsNext3 {
  height: 50px;
  width: 100px;
  background-color: rgb(188, 26, 26);
  left: 40px;
  top: 400px;
}

#divApplab.appModern #BeastsHome3 {
  height: 50px;
  width: 100px;
  background-color: rgb(188, 26, 26);
  left: 180px;
  top: 400px;
}

#divApplab.appModern #screen13 {
  background-color: rgb(107, 15, 5);
  display: none;
}

#divApplab.appModern #image11 {
  height: 180px;
  width: 230px;
  left: 40px;
  top: 40px;
}

#divApplab.appModern #text_area12 {
  left: 30px;
  top: 190px;
  width: 250px;
  height: 200px;
}

#divApplab.appModern #BeastsHome4 {
  height: 55px;
  width: 165px;
  background-color: rgb(188, 26, 26);
  left: 65px;
  top: 390px;
}

#divApplab.appModern #screen14 {
  background-color: rgb(107, 15, 5);
  display: none;
}

#divApplab.appModern #image12 {
  height: 175px;
  width: 190px;
  left: 65px;
  top: 20px;
}

#divApplab.appModern #text_area13 {
  width: 250px;
  left: 30px;
  top: 190px;
  height: 200px;
}

#divApplab.appModern #DemonsNext1 {
  height: 50px;
  width: 100px;
  background-color: rgb(188, 26, 26);
  left: 40px;
  top: 400px;
}

#divApplab.appModern #DemonsHome1 {
  height: 50px;
  width: 100px;
  background-color: rgb(188, 26, 26);
  left: 180px;
  top: 400px;
}

#divApplab.appModern #screen15 {
  background-color: rgb(107, 15, 5);
  display: none;
}

#divApplab.appModern #image13 {
  height: 175px;
  width: 195px;
  left: 55px;
  top: 30px;
}

#divApplab.appModern #text_area14 {
  width: 250px;
  height: 200px;
  left: 30px;
  top: 190px;
}

#divApplab.appModern #DemonsNext2 {
  background-color: rgb(188, 26, 26);
  left: 40px;
  top: 400px;
  width: 100px;
  height: 50px;
}

#divApplab.appModern #DemonsHome2 {
  background-color: rgb(188, 26, 26);
  left: 180px;
  top: 400px;
  width: 100px;
  height: 50px;
}

#divApplab.appModern #screen16 {
  background-color: rgb(107, 15, 5);
  display: none;
}

#divApplab.appModern #image14 {
  height: 190px;
  width: 245px;
  left: 40px;
}

#divApplab.appModern #text_area15 {
  width: 250px;
  left: 30px;
  top: 190px;
  height: 200px;
}

#divApplab.appModern #DemonsHome3 {
  height: 50px;
  width: 145px;
  background-color: rgb(188, 26, 26);
  left: 80px;
  top: 395px;
}

#divApplab.appModern #screen17 {
  background-color: rgb(107, 15, 5);
  display: none;
}

#divApplab.appModern #image15 {
  height: 180px;
  width: 185px;
  left: 65px;
  top: 15px;
}

#divApplab.appModern #text_area16 {
  width: 250px;
  height: 200px;
  left: 30px;
  top: 190px;
}

#divApplab.appModern #AnamalsNext1 {
  height: 50px;
  width: 100px;
  background-color: rgb(188, 26, 26);
  left: 40px;
  top: 400px;
}

#divApplab.appModern #AnamalsHome1 {
  height: 50px;
  width: 100px;
  background-color: rgb(188, 26, 26);
  left: 180px;
  top: 400px;
}

#divApplab.appModern #screen18 {
  background-color: rgb(107, 15, 5);
  display: none;
}

#divApplab.appModern #image16 {
  height: 175px;
  width: 215px;
  left: 45px;
  top: 25px;
}

#divApplab.appModern #text_area17 {
  width: 250px;
  left: 30px;
  top: 190px;
  height: 200px;
}

#divApplab.appModern #AnamalsNext2 {
  height: 50px;
  width: 100px;
  background-color: rgb(188, 26, 26);
  left: 40px;
  top: 400px;
}

#divApplab.appModern #AnamalsHome2 {
  height: 50px;
  width: 100px;
  background-color: rgb(188, 26, 26);
  left: 180px;
  top: 400px;
}

#divApplab.appModern #screen19 {
  background-color: rgb(107, 15, 5);
  display: none;
}

#divApplab.appModern #image17 {
  height: 185px;
  width: 180px;
  left: 60px;
  top: 15px;
}

#divApplab.appModern #text_area18 {
  width: 250px;
  height: 200px;
  left: 30px;
  top: 190px;
}

#divApplab.appModern #AnamalsHome3 {
  height: 55px;
  width: 150px;
  background-color: rgb(188, 26, 26);
  left: 70px;
  top: 390px;
}

#divApplab.appModern #screen20 {
  background-color: rgb(107, 15, 5);
  display: none;
}

#divApplab.appModern #text_area19 {
  width: 250px;
  height: 200px;
  left: 30px;
  top: 190px;
}

#divApplab.appModern #image18 {
  height: 165px;
  width: 165px;
  left: 75px;
  top: 25px;
}

#divApplab.appModern #EleNext1 {
  height: 50px;
  width: 100px;
  background-color: rgb(188, 26, 26);
  left: 40px;
  top: 400px;
}

#divApplab.appModern #EleHome1 {
  height: 50px;
  width: 100px;
  background-color: rgb(188, 26, 26);
  left: 180px;
  top: 400px;
}

#divApplab.appModern #screen21 {
  background-color: rgb(107, 15, 5);
  display: none;
}

#divApplab.appModern #image19 {
  height: 165px;
  width: 180px;
  left: 65px;
  top: 25px;
}

#divApplab.appModern #text_area20 {
  width: 250px;
  height: 200px;
  left: 30px;
  top: 190px;
}

#divApplab.appModern #EleNext2 {
  height: 50px;
  width: 100px;
  background-color: rgb(188, 26, 26);
  left: 40px;
  top: 400px;
}

#divApplab.appModern #EleHome2 {
  height: 50px;
  width: 100px;
  background-color: rgb(188, 26, 26);
  left: 180px;
  top: 400px;
}

#divApplab.appModern #screen22 {
  background-color: rgb(107, 15, 5);
  display: none;
}

#divApplab.appModern #text_area21 {
  width: 250px;
  height: 200px;
  left: 30px;
  top: 190px;
}

#divApplab.appModern #image20 {
  height: 170px;
  width: 180px;
  left: 65px;
  top: 20px;
}

#divApplab.appModern #EleHome3 {
  height: 55px;
  width: 155px;
  background-color: rgb(188, 26, 26);
  left: 70px;
  top: 390px;
}
